#dashrepotable th{
    vertical-align: top;
    line-height: 12px;
}
/*#moverepotable{
    margin-top: -13px;
}*/
#moverepotable_wrapper th{
    vertical-align: middle;
}
#moverepotable > thead > tr{
    visibility:hidden;
} 
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: top 27px left;
    height: 35px;
}
#dashboard, #vehiclesearch, #history, #report-vehicle, #alarm, #geofence-div, #route, #frame, #group-div, #workmate, #settings-div, #customroute-div, #livedetailsdata{
    display:none;
}
.shown td.details-control:before {
    content: "\f103";
    font-family: FontAwesome;
    display: block;
    cursor: pointer;
}

div.details-control:before {
    content: "\f101";
    font-family: FontAwesome;
    display: block;
    cursor: pointer;
}

td.details-control:before {
    content: "\f101";
    font-family: FontAwesome;
    display: block;
    cursor: pointer;
}
.panel .driverepotable{
    margin: -5px -16px;
}
.panel .driverepotable > thead tr th, .panel .driverepotable
{
    background: none; 
    border:none;
}
.panel .driverepotable > tbody > tr:nth-child(odd) > td, .panel .driverepotable > tbody > tr > th, .panel .driverepotable td, .panel .driverepotable th {
    background:#fff;
    border:none;
}
.panel #moverepotable > tbody > tr.odd > td, .panel #moverepotable > tbody > tr.even > td{
    background: #f3f3f3;
    border-bottom:1px solid #ddd;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: none;
}
/* table.dataTable thead .sorting {
     background-position: right -2px top 9px !important;
     line-height: 20px;
     padding: 0px 8px;
 }  */ 

/* .dataTables_scrollHeadInner, .dataTables_scrollHeadInner table{ */
/*     width:100% !important; */
/* } */
/*.dataTables_wrapper th:after{
    float:none;
}*/
/*
.dataTables_wrapper th:after {
    font-family: inherit;
}*/
.dataTables_wrapper .sorting:after {
    content: inherit;
}
/*.dataTables_wrapper .sorting_asc::after{
    display:none;
}*/
.notificationoff{
    height: 17px;
    width: 6%;
}
.notificationoff1{
    height: 17px;
    width: 6%;
}
.bootstrap-datetimepicker-widget{
    display: block !important;
    position: absolute;
    z-index: 999;
    background: #fff;
    top: 20px;
    left: 0px;
    display: table;
    /* padding-right: 20px !important; */
}
.report-form{
    height: 100vh;
}

h1{
    color:green;
}
